/* Header */
h1 {
    color: rgb(196, 223, 223);
    background-color: brown;
    padding: 5px;
    text-align: center;
    font-size: 30px;
}

/* Search Box */
.input-box {
    display: inline;
}

/* Search Button */
#search-button {
    display: inline-flex;
    color: brown;
    border-radius: 0%;
    padding-right: 20px;
}

/* Current Weather Container */
#todays-container {
    display: inline-flex;
}

#forecast-container {
    display: flex;
    /* background-color: rgb(223, 182, 182); */
}

#display-weather {
    border-style: groove;
    border-color: brown;
    padding: 10px 200px 10px 2px;
    background-color: rgb(178, 197, 221);
    margin: 10px;
}

#search-list button {
    color: rgb(246, 248, 248);
    height: 30px;
    width: 300px;
    background-color: rgb(238, 29, 81);
    display: block;
    margin: 2px;
}
/* Search list syling */
/* #search-list.button {
    display: block;
    padding: 3px;
    color: burlywood;
    
} */

/* 5 day forecast styling */
#display-forecast1 {
    padding: 10px 5px 10px;
    border-style: groove;
    border-color: brown;
    background-color: rgb(156, 184, 218);
    margin: 10px;
}

#display-forecast2 {
    padding: 10px 5px 10px;
    border-style: groove;
    border-color: brown;
    background-color: rgb(156, 184, 218);
    margin: 10px;
}

#display-forecast3 {
    padding: 10px 5px 10px;
    border-style: groove;
    border-color: brown;
    background-color: rgb(156, 184, 218);
    margin: 10px;
}

#display-forecast4 {
    padding: 10px 5px 10px;
    border-style: groove;
    border-color: brown;
    background-color: rgb(156, 184, 218);
    margin: 10px;
}

#display-forecast5 {
    padding: 10px 5px 10px;
    border-style: groove;
    border-color: brown;
    background-color: rgb(156, 184, 218);
    margin: 10px;
}