h1 {
    color: rgb(196, 223, 223);
    background-color: brown;
    padding: 5px;
    text-align: center;
    font-size: 30px;
}

.input-box {
    display: inline;
}

#search-button {
    display: inline-flex;
    color: brown;
    border-radius: 0%;
    padding-right: 20px;
}

#todays-container {
    display: inline-flex;
}

#forecast-container {
    display: flex;
    border-style: solid;
    border-color: brown;
}

#display-weather {
    border-style: groove;
    border-color: brown;
    padding: 10px 200px 10px 2px;
}

#display-forecast1 {
    padding: 10px 5px 10px;
}

#display-forecast2 {
    padding: 10px 5px 10px;
}

#display-forecast3 {
    padding: 10px 5px 10px;
}

#display-forecast4 {
    padding: 10px 5px 10px;
}

#display-forecast5 {
    padding: 10px 5px 10px;
}