h1 {
    color: rgb(196, 223, 223);
    background-color: brown;
    padding: 5px;
    text-align: center;
    font-size: 30px;
}

.input-box {
    display: inline;
}

#search-button {
    display: inline-flex;
    color: brown;
    border-radius: 0%;
}

#display-weather {
    border-style: groove;
    border-color: brown;
    display: inline;
    margin-left: 20%;
}

#p {
    border: solid;
}